*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background:black;
	margin:0;
	padding:0;
}
@font-face
{
	font-family: myFirstFont;
	src: url(./font/叶根友毛笔行书.ttf);
}
#hd{
	width: 45%;
	height: auto;
	float: left;
	padding-left:100px;
}
#hd_right{
	padding-top: 120px;
}
#hd_right_top{
	margin-bottom: 100px;
}
#km{
	width: 40%;
	height: auto;
	float: left;
	padding-left:100px;
}
#km_right{
	padding-top: 180px;
	padding-left:700px;

}
#km_right_top{
	margin-bottom: 100px;
	padding-top: 50px;
}

#lt{
	width: 47%;
	height: auto;
	float: right;
	padding-top: 50px;
}
#lt_left{
	padding-left: 100px;
	padding-top: 150px;
	margin-bottom: 80px;
}
#lt_left_top{
	margin-bottom: 100px;
}
.big{
	font-family: myFirstFont;
	color: #ff4611;
	font-size: 100px;
}
.small{
	font-family: 微软雅黑;
	color: white;
	font-size: 20px;
}
.clear{
    clear: both;
}

#sign_in{
	height: 400px;
	width: 100%;
	background-color: white;
	margin-top: 100px;
	background:url(./img/LT4.jpg) no-repeat;
	background-size: 100%;
}
#sign_in p{
	text-align: center;
	line-height: 400px;
	vertical-align: middle;

}
#sign_in button{
	height: 60px;
	width: 30%;
	background-color: black;
	color: red;
	opacity: 0.5;

    border: none;
    border-radius: 2px;

    position: relative;
    height: @button-height;
    min-width: 88px;
    padding: 0 16px;
    display: inline-block;
    overflow: hidden;
    will-change: box-shadow;
    transition: all .2s @animation-curve-default,
    box-shadow .2s @animation-curve-fast-out-linear-in;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: @button-height;
    vertical-align: middle;
    font-size: 18px;
    font-family:微软雅黑;  
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    zoom: 1;
    white-space: nowrap;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
	border-radius: 50px;
}


footer{
	/*background: rgb(51,51,51);*/
	background-color: black;
	opacity:0.5;
}
#foot{
	width: 100%
	height: 400px;
	padding: 125px 0 ;
}
footer p{
	vertical-align: middle;
	color:white;
	text-align: center;
	font-family: 微软雅黑;
}
#github{
	text-decoration: none;
}
#github:link{color: #ff4611}

#github:visited{color: #ff4611}

#github:hover{color: #ff4611}

#github:active{color: #ff4611}

/*页面滚动到相应位置运行动画*/
.con{ height:1200px;}
.list{ list-style:none; padding:0; margin:0; }
.list li{ height:500px; }
.list li img{ opacity:0; animation:move 2s forwards; animation-play-state:paused;}
.list li div{ opacity:0; animation:move 2s forwards; animation-play-state:paused;}
.list .move img{ animation-play-state:running;}
.list .move div{ animation-play-state:running;}

@keyframes move{
	from{ opacity:0; margin-left:200px;}
	to{ opacity:1; margin-left:0px;}
}

