#main{
	width: 80%;
	margin:40px auto;
}
footer{
    height: 60px;
    background-color: black;
    margin-top: 25px;
}
footer p{
    color: white;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    margin:0;
}
@font-face
{
	font-family: myFirstFont;
	src: url(./font/叶根友毛笔行书.ttf);
}
#title{
	font-family: myFirstFont;
	color: #ff4611;
	text-align: center;
}