@font-face
{
	font-family: myFirstFont;
	src: url(./font/叶根友毛笔行书.ttf);
}
/*信息条*/
#main{
	width: 80%;
	margin: 0 auto;
	padding:40px 0  0px 0;
}

.gradient{
	height: 150px;
	margin: 0 0 40px 0
}
#main .each{
	margin: 40px 0 20px 0;
	height:150px; 
	display: flex;

}
.main_left{
	height: 150px;
	margin: 0 20px 0 0;
	flex: 1; 
	font-family: myFirstFont;
	text-align: center;
}
.main_right{
	height: 150px;
	background-color: white;
	flex: 10;
	padding-left: 25px;
	font-family: myFirstFont;
	color: #ff4611;
	cursor: pointer;
}
.main_right_p{
	line-height: 150px;
	vertical-align: middle;
	margin:0;
	font-size: 25px;
}

footer{
    height: 60px;
    background-color: black;
    margin-top: 25px;
}
footer p{
    color: white;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    margin:0;
}
#github{
	text-decoration: none;
}
#github:link{color: #ff4611}

#github:visited{color: #ff4611}

#github:hover{color: #ff4611}

#github:active{color: #ff4611}

