
/*信息条*/
#main{
	width: 80%;
	margin: 0 auto;
	padding:40px 0  0px 0;
}

.gradient{
	height: 150px;
	margin: 0 0 40px 0
}
#main .each{
	margin: 40px 0 20px 0;
	height:150px; 
	display: flex;

}
.main_left{
	height: 150px;
	margin: 0 20px 0 0;
	flex: 1; 
}
.main_right{
	height: 150px;
	background-color: white;
	flex: 10;
}

footer{
    height: 60px;
    background-color: black;
    margin-top: 25px;
}
footer p{
    color: white;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}

